.rainbowFrame {
  width: 371px;
  min-height: 100vh;
  background: var(--rainbow-background);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.wrapper {
  width: 370px;
  height: 100%;
  flex-shrink: 0;
  background: var(--light-blue);
  padding-top: 4px;
}

.CreateConferenceButton {
  user-select: none;
  margin: 12px 15px 20px 16px;
  display: flex;
  width: 338px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--button-blue);
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto, serif;
  font-size: 14px;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--rainbow-background);
    background-size: 400%;
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    color: var(--navy-blue);
    font-weight: 700;
  }
}

.imgOnButton {
  margin-right: 8px;
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}