.wrapper {
  margin: 0 16px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.tabs {
  height: 48px;
  display: flex;
  gap: 8px;
  color: #9298a0;
  align-items: center;
  border-bottom: #2a384f 1px solid;
  padding-bottom: 8px;
  width: 338px;
  margin-bottom: 8px;
}

.oneTab {
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}

.allChats {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  min-height: 100vh;
}