.wrapper {
  border-radius: 8px;
  background: var(--transparent-blue);
  display: flex;
  height: 35px;
  margin: 8px 0 8px 16px;
  align-items: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  //padding: 8px;
  padding: 15px 8px 8px 15px;
}

.searchLogo {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  user-select: none;
  margin-right: 30px;
  margin-bottom: 7px;
}

.searchInput {
  color: #9298a0;
  font-family: Roboto, serif;
  user-select: none;
  background-color: transparent;
  width: 300px;

  border-bottom: none !important;
  box-shadow: none !important;

  &::after {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}
