
.buttonEditData {
  background-color: var(--button-green);
  font-size: 14px;
  color: var(--navy-blue);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  border: none;
  width: 200px;
  margin-right: 30px;
  min-height: 35px;

  &:hover {
    color: white;
    background-color: #0d9f99;
  }
}

.buttonLogout {
  background-color: coral;
  height: 28px;
  font-size: 14px;
  color: var(--navy-blue);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  border: none;
  width: 200px;
  margin-right: 30px;
  min-height: 35px;

  &:hover {
    color: white;
    background-color: #ff651f;
  }
}

.buttons {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}







