.scrollContainer {
  height: 100vh;
  overflow-y: auto;
}


.oneTodoList {
  background-color: var(--light-blue);
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 1px;
}

.rainbowFrame {
  border-radius: 6px;
  height: max-content;
  width: max-content;
  background: var(--rainbow-background);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  margin-right: 20px;
  margin-top: 20px;
}

.allTodos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

}

.listTitle {
  font-family: Roboto, serif;
  font-size: 16px;
  color: var(--gray-text);
  user-select: none;
  align-content: center;
  padding-bottom: 10px;
}

.buttonRemoveTodo {
  height: 28px;
  font-size: 14px;
  background-color: var(--button-blue);
  color: #9298a0;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  align-content: center;
  border: none;
  margin-right: 10px;

  &:hover {
    color: white;
  }
}

.checkboxComplete {
  width: 21px;
  user-select: none;
  cursor: pointer;

  &:before {
    align-content: center;
    height: 12.6px;
  }

  &:hover:before {
    opacity: 1;
  }
}

.titleTodo {
  user-select: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  align-content: center;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0;
  user-select: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
