.modal {
  position: fixed;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  animation: ani 0.5s;
}

.modal_content {
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 20px;
  border-radius: 12px;
  transition: 0.4s all;
  width: 35%;
  height: 18%;
  margin: 15px;
  background-color: var(--gray-text);
  user-select: none;
  animation: ani 0.5s;
  border-color: white;
  border-width: 3px;

}

.rainbowBorder {
  right: 0;
  bottom: 0;
  position: fixed;
  border-radius: 12px;
  width: 35.5%;
  height: 18.5%;
  margin: 10px;
  user-select: none;

  background: var(--rainbow-background);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.title {
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  user-select: none;
}

.textContent {
  padding-left: 17%;
  color: #01006b;
  font-weight: 600;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  user-select: none;
}

.img {
  height: 25%;
  right: 30%;
  bottom: 5px;
  position: fixed;
  z-index: 2;
  user-select: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
