.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  user-select: none;
  //align-content: center;
  //justify-content: center;
  padding: 20px 30px;
  align-content: start;
}

.infoWrapper {
  padding: 50px 16px ;
  user-select: none;
  background-color: var(--transparent-blue);
  border-radius: 8px;
  margin-bottom: 30px;
  width: 100%;
  min-width: 600px;
  align-items: start;
  align-content: start;
}

.authTitle {
  margin-left: 30px;
  color: var(--gray-text);
  font-size: 40px;
  width: max-content;
}

.title {
  color: var(--gray-text);
  margin-right: 30px;
  width: 120px;
}
.buttonEditData {
  background-color: var(--button-green);
  font-size: 14px;
  color: var(--navy-blue);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  border: none;
  width: 200px;
  margin-right: 30px;

  &:hover {
    color: white;
    background-color: #0d9f99;
  }
}

.buttonLogout {
  background-color: coral;
  height: 28px;
  font-size: 14px;
  color: var(--navy-blue);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  border: none;
  width: 200px;
  margin-right: 30px;

  &:hover {
    color: white;
    background-color: #ff651f;
  }
}

.buttons {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.entryFieldItem {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
}

.dataItem {
  background-color: var(--light-blue);
  padding: 2px 15px;
  border-radius: 5px;
  height: 30px;
  color: #FFFFFF;
  font-size: 15px;
  min-width: 400px;
  align-content: center;
  width: 50%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.inputItem {
  background-color: var(--navy-blue);
  border-radius: 6px;
  height: 30px;
  border-color: transparent;
  border-width: 1px;
  padding: 5px 10px;
  color: var(--gray-text);
  outline: 0;
  outline-offset: 0;
  min-width: 400px;
}

.mainContentWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.dataMainContent {
  color: var(--gray-text);
  font-weight: 700;
  font-size: 18px;
}

.rainbowFrame {
  margin-right: 15px;
  background: var(--rainbow-background);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  width: 104px;
  height: 104px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
}

.photoLogo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  user-select: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}






